body {
  color: dimgray;
  background: whitesmoke;
  font-family: 'Share Tech Mono';
}

h1 {
  font-size: 40px;
  line-height: 2;
  color: whitesmoke;
}

p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: dimgray;
}

img {
  width: 310px;
  height: 210px;
  margin-bottom: 5px;
}


.nav1 {
  color: cadetblue;
}

.nav2 {
  color: lightblue;
}

.nav3 {
  color: skyblue;
}

.nav4 {
  color: lightsteelblue;
}

.navigatie, .content {
  width: 100%;
  max-width: 950px;
  position: relative;
  margin: 0 auto;
}

a {
  text-decoration: none; 
}

nav {
  float: right;
  width: 60%;
}

nav ul {
  float: right;
  list-style: none;
  overflow: hidden;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

.slideshow h1 {
  color: dimgray;
  text-align: center;
}

.foto5, .foto6, .foto7 {
  width: 100%;
  height: 100%;
  display: none;
}

.select {
  display: inline;
}

.main {
  width: 100%;
  position: fixed;
  overflow: hidden;
  max-height: 70px;
  padding-top: 15px;
  top: -100px;
  z-index: 999;
}

.navigatiebalk {
  top: 0px;
  opacity: 0.9;
  background-color: whitesmoke;
  border-bottom: 2px solid dimgray;
}

.home {
  float: left;
  display: block;
  width: 300px;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  color: dimgray;
}

form {
  color: dimgray;
  border: 2px solid dimgray;
  width: 880px;
  padding: 20px 30px 15px 30px;
  background: lightsteelblue;
}

input {
  width: 875px;
}

button {
  width: 200px;
  margin-left: 350px;
}

.message {
  height: 75px;
}